#add_category_modal {
  padding-right: 0;
}
#add_category_modal .modal-dialog {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}
@media only screen and (min-width: 700px) {
  #add_category_modal .modal-dialog {
    max-width: 700px;
  }
}
@media only screen and (max-width: 576px) {
  #add_category_modal .modal-dialog {
    margin: auto 2.5rem;
  }
}
#add_category_modal .modal-dialog .modal-content {
  background-color: transparent;
  border: none;
}
#add_category_modal .modal-dialog .modal-content .close {
  color: #ffffff;
  text-shadow: none;
  opacity: 0.8;
  margin: 1rem 0 1rem auto;
}
#add_category_modal .modal-dialog .modal-content .close:hover {
  color: #ffffff;
  opacity: 1;
}
#add_category_modal .modal-dialog .modal-content .close span {
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
}
#add_category_modal .modal-dialog .modal-content-without-close {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}
#add_category_modal .modal-dialog .modal-content-without-close .modal-header {
  border-bottom: none;
  margin: 15px;
}
@media only screen and (max-width: 567px) {
  #add_category_modal .modal-dialog .modal-content-without-close .modal-header {
    justify-content: space-around;
  }
}
#add_category_modal .modal-dialog .modal-content-without-close .modal-footer {
  border-top: none;
  justify-content: space-between;
  margin: 1.75rem;
  padding: 0;
  border-bottom: 2px solid #dee2e6;
}
@media only screen and (max-width: 567px) {
  #add_category_modal .modal-dialog .modal-content-without-close .modal-footer {
    justify-content: space-around;
  }
}
#add_category_modal .modal-dialog .modal-content-without-close .modal-footer button {
  padding: 13px 40px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  font-size: medium;
  margin-bottom: 12px;
}