#photo-modal .modal-dialog{
	height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    @media only screen and (min-width: 767px){
		&{
			padding-bottom: 12px;
			padding-right: 30px;
		}
	}
	@media only screen and (max-width: 575px){
		&{
			padding-bottom: 30px;
       		padding-right: 76px;
	    }
	}

    .modal-content{
    	background-color: transparent;
    	border: none;

    	.modal-header{
    		border: none;
    		padding-bottom: 25px;
    		
    		.close{
    			color: #ffffff;
			    text-shadow: none;
			    opacity: .8;
			    &:hover{
			    	color: #ffffff;
    				opacity: 1;
			    }
			    span{
			    	font-size: 16px;
    				letter-spacing: 2px;
			    }
    		}
    	}
    	.modal-body{
    		@media only screen and (max-width: 575px){
				&{
		            padding: 0 4rem;
				}
			    
			}

    		.modal-nav div{
    			position: absolute;
			    right: -40px;
			    top: 50%;
			    opacity: .8;
			    cursor: pointer;
			    &:hover{
			    	opacity: 1;
			    	right: -42px;
			    }
			    @media only screen and (max-width: 767px){
					&{
		                right: -25px;
				    }
			    
				}
				@media only screen and (max-width: 575px){
					&{
		                right: 25px;
				    }
			    
				}
    		}
    		.modal-nav #prev-icon{
			    	left: -40px;
				    opacity: .8;
				    cursor: pointer;
				    &:hover{
				    	opacity: 1;
				    	left: -42px;
				    	width: 105%;

				    }
				    @media only screen and (max-width: 767px){
					    &{
					        left: -25px;
					    }
			    
					}
					@media only screen and (max-width: 575px){
						&{
			                left: 25px;
					    }
			    
					}
			    }
    	}
    }
}